.box{
    float: left;
    max-width: 3rem;
    a{
        display: block;
        padding: 1rem;
    }
    img{
        margin: -1.6rem 0rem 0rem 27rem;
   
        max-width: 3rem;
    }
}

@media (max-width: 991px) {
    .box{
        float: left;
        max-width: 3rem;
        a{
            display: block;
            padding: 1rem;
        }
        img{
            margin: 3.5rem 0rem 0rem 6.2rem;
       
            max-width: 3rem;
        }
    }
}
